* {
    color: white;
}

header {
}

header > h1 {
    background: red;
    text-align: center;
    margin: 10px 0 0;
}

nav {
    background: orange;
    display: flex;
    justify-content: center;
}

nav > a {
    margin: 16px;
}

article {
    background: blue;
    border: solid 10px green;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #7048E8;
    padding: 10px;
}