.container {
    max-width: 1110px;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        margin: 0px 20px 0px 20px;
    }
}

@media screen and (max-width: 570px) {
    .container {
        margin: 0px 16px 0px 16px;
    }
}