.skeleton {
    background: var(--white);
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    padding: 24px 40px 32px 24px;
}

.skeleton__wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.skeleton__avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: var(--grey-2);
    margin-right: 16px;
}

.skeleton__header {
    width: 100%;
}

.skeleton__line {
    width: 100%;
    height: 20px;
    margin-bottom: 8px;
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
}

.skeleton__line_sm {
    width: 30%;
}

.skeleton__line_md {
    width: 75%;
}

.skeleton__line:last-child {
    margin-bottom: 0;
}

.skeleton__body {

}
