.content {
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
    padding: 32px 106px 64px 48px;
}

.content__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    color: var(--grey-4);
    margin-bottom: 58px;
}

.content__component {}

@media screen and (max-width: 570px) {
    .content {
        padding: 0px 16px 52px 16px;
    }

    .content__title {
        margin-bottom: 32px;
    }
}