.preview {}

.preview__wrapper_page {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;
    background: #F9FAFC;
    padding: 67px 0px 92px 0px;
}

.preview__wrapper_layout {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    'sidebar content';
}

.preview__sidebar {
    grid-area: "sidebar";
}

.preview__content {
    grid-area: "content";
}

@media screen and (max-width: 570px) {
    .preview__wrapper_layout {
        grid-template-columns: 1fr;
    }
}